/*--------------------------------------------------*/
/*----------------------------------------*/
/*------------------------------*/
/*--------------------*/
/*----------*/ /*•••••••••••*/
:root {
	--primary-blue: #0095FF;
	--main-dark: #2B4257;
	--main-dark-002: #2B425705;
	--main-dark-006: #2B42570F;
	--main-dark-008: #2B425714;
	--main-dark-placeholder: #2B42574D;
	--accent-red: #F26C4F;
	--medium-gray: #7E8C99;
	--medium-gray-010: #7E8C991A;
	--bg: #FBFBFB;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: var(--main-dark);
	background-color: var(--bg);
	overflow-x: hidden;
}

.smaller {
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

h1, .h1 {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0 0 27px;
	display: block;
}
h2, .h2 {
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
	text-transform: uppercase;
	display: block;
}
h3, .h3 {
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
}

a {
	text-decoration: none;
	color: var(--main-dark);
}
p b {
	font-weight: 500;
}
.link {
	text-decoration: underline;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: var(--main-dark);
	transition: opacity 0.3s ease;
	display: block;
}
.slink {
	transition: opacity 0.3s ease;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	cursor: pointer;
	/* text-transform: uppercase; */
}
.sunderline {
	text-decoration: underline;
	color: var(--main-dark);
	transition: opacity 0.3s ease;
}
.slink .bef {}
.slink .aft {}

.link:hover,
.slink:hover .sunderline {
	opacity: 0.9;
}
.link:disabled,
.slink:disabled {
	opacity: 0.4;
}
.link.smaller {
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	color: var(--medium-gray);
}
.link.smaller:hover {
	opacity: 0.7;
}
.link.smaller:disabled {
	opacity: 0.4;
}

button {
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}
button:focus {
	outline: none;
}

/*-b-btn--------------*/
.btn {
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	border-radius: 4px;
	padding: 14px 30px;
	text-transform: uppercase;
	box-sizing: border-box;
	transition: background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
	display: block;
}
.btn.accent {
	background-color: var(--primary-blue);
	color: #fff;
}
.btn.dark {
	background-color: var(--main-dark);
	color: #fff;
}
.btn.security {
	padding: 13px 29px;
	border: 1px solid var(--main-dark);
	color: var(--main-dark);
}

/*-hover----*/
.btn.accent:hover,
.btn.dark:hover {
	opacity: 0.9;
}
.btn.security:hover {
	background-color: var(--main-dark-002);
}
/*-disabled-*/
.btn.accent:disabled,
.btn.dark:disabled,
.btn.security:disabled {
	opacity: 0.4;
}
/*-e-btn--------------*/

/*-b-check------------*/
.check {
	position: relative;
	/* display: flex; */
	display: inline;

}
.check input {
	position: absolute;
	cursor: pointer;
	opacity: 0;
	height: 0;
	width: 0;
}
.checkmark {
	position: relative;
	width: 28px;
	height: 28px;
	border-radius: 2px; 
	border: 2px solid var(--main-dark);
}
.checkmark:before {
	position: absolute;
	top: 7.6px;
	left: 5.4px;
	opacity: 0;
}
.check input:checked ~ .checkmark {
	background-color: var(--primary-blue);
}
.check input:checked ~ .checkmark:before {
	opacity: 1;
}
.check input:disabled ~ .checkmark {
	opacity: 0.5;
}
/*-b-check------------*/

/*-b-radio------------*/
.radio {
	position: relative;
	/* display: flex; */
	display: inline;
}
.radiotext {
	position: relative;
	top: 5px;
	margin: 0 0 0 22px;
	font-weight: 500;
}
.radiotext.thinner {
	font-weight: normal;
}
.radio input {
	position: absolute;
	cursor: pointer;
	opacity: 0;
	height: 0;
	width: 0;
}
.radiomark {
	position: relative;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 2px solid var(--main-dark);
	box-sizing: border-box;
	display: block;
	float: left;
}
.radiomark:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	transform: translate(-50%, -50%);
	background-color: var(--primary-blue);
}
.radio input:checked ~ .radiomark:before {
	opacity: 1;
}
.radio input:disabled ~ .radiomark {
	opacity: 0.5;
}
/*-b-radio------------*/

/*-b-input------------*/
input {
	border: 1px solid transparent;
	padding: 10px 19px 11px;
	font-size: 18px;
	line-height: 21px;
	border-radius: 4px;
	color: var(--main-dark);
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0px 4px 8px var(--main-dark-008);
}
input::placeholder {
	color: var(--main-dark-placeholder);
}
input:focus {
	border-color: var(--primary-blue);
	outline: none;
}
input:invalid, input.invalid {
	border-color: var(--accent-red);
}
/*-e-input------------*/

/*----------*/
/*--------------------*/
/*------------------------------*/
/*----------------------------------------*/
/*--------------------------------------------------*/










/*-b-all--------------------------------------------*/
#eclipse {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--main-dark);
	z-index: -10;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, z-index 0s linear 0.3s, visibility 0s linear 0.3s;
}
#eclipse.active {
	z-index: 900;
	visibility: visible;
	opacity: 0.9;
	transition: opacity 0.3s ease, z-index 0s linear 0s, visibility 0s linear 0s;
}
.invisible {
	display: none;
}
.wrap {
	position: relative;
	/* display: flex;
	flex-direction: column; */
	display: block;
	width: 600px;
	margin: 0 auto;
}
.hundred {
	display: block;
	width: 100%;
}
.divcenter {
	display: block;
}
.gray {
	color: var(--medium-gray);
}
span.white,
p.white {
	color: #fff;
}
.uppercase {
	text-transform: uppercase;
}
.row {
	/* display: flex; */
	display: inline;
}
.column {
	/* display: flex;
	flex-direction: column; */
	display: block;
}
.top-text {
	padding: 14px 30px 15px;
	height: 50px;
	background-color: var(--primary-blue);
	box-sizing: border-box;
	/* display: flex; 
	align-items: center;*/
	display: block;
}
.top-text h2 {
	color: #fff;
}
.btn.devclose {
	position: absolute;
	top: 10px;
	right: 10px;
}

/*-b-accordion--------*/
.parent-calc-h {
	visibility: visible;
	opacity: 1;
	transition: height 0.3s ease, opacity 0.3s ease, visibility 0s linear 0s;
	box-sizing: border-box;
	overflow: hidden;
}
.parent-calc-h.hidden {
	height: 0px !important;
	visibility: hidden;
	opacity: 0;
	transition: height 0.3s ease, opacity 0.3s ease, visibility 0s linear 0.3s;
}
.calc-h {
	box-sizing: border-box;
}

.accordion-close {
	cursor: pointer;
}
/*-e-accordion--------*/
/*-e-all--------------------------------------------*/











/*-b-popup------------------------------------------*/
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 905;
	padding: 50px 30px 40px;
	/* display: flex;
	flex-direction: column; */
	display: block;
	visibility: hidden;
	transform: translateY(-100%);
	transition: transform 0.3s ease, visibility 0s linear 0.3s;
}
.popup-wrap {
	/* display: flex;
	flex-direction: column; */
	display: block;
	/* align-items: center; */
}
.popup.active {
	visibility: visible;
	transform: translateY(0%);
	transition: transform 0.3s ease, visibility 0s linear 0s;
}
.popup .close-popup {
	margin: 30px auto 0;
}
/*-e-popup------------------------------------------*/











/*-b-login------------------------------------------*/
.login {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translateY(-100%);
	visibility: hidden;
	transition: transform 0.3s ease, visibility 0s linear 0.3s;
	background-color: #fff;
	z-index: 100;
}
.login.active {
	visibility: visible;
	transform: translateY(0);
	transition: transform 0.3s ease, visibility 0s linear 0s;
}
/*-e-login------------------------------------------*/











/*-b-forgot-pswd------------------------------------*/
.forgot-pswd {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translateY(-100%);
	visibility: hidden;
	transition: transform 0.3s ease, visibility 0s linear 0.3s;
	background-color: #fff;
	z-index: 110;
}
.forgot-pswd.active {
	visibility: visible;
	transform: translateY(0);
	transition: transform 0.3s ease, visibility 0s linear 0s;
}
/*-e-forgot-pswd------------------------------------*/











/*-b-lcypv------------------------------------------*/
.lcypv {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translateY(-100%);
	visibility: hidden;
	transition: transform 0.3s ease, visibility 0s linear 0.3s;
	background-color: #fff;
	z-index: 120;
}
.lcypv.active {
	visibility: visible;
	transform: translateY(0);
	transition: transform 0.3s ease, visibility 0s linear 0s;
}

/*-b-page-parts-*/
/*-page-top-*/
.page-top {
	padding: 65px 0 0;
	/* display: flex;
	flex-direction: column; 
	align-items: center; */
	display: block;
}

.page-top .h1,
.page-top h1 {
	margin: 45px auto 20px;
	width: 100%;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	display: block;
}
.page-top .h1.h-icon,
.page-top h1.h-icon {
	text-align: left;
	padding-left: 32px;
}
.page-top .h1.h-icon:before {
	position: absolute;
	top: 12px;
	left: 12px;
	transform: translate(-50%, -50%);
}
.page-top p {
	display: block;
	margin: 0 auto 40px;
	text-align: center;
}

/*-page-mid-*/
.page-mid {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	display: block;
}
.page-mid .h3,
.page-mid h3 {
	margin: 0 auto 60px;
	display: block;
	text-align: center;
}
.page-mid .btn.accent {
	margin: 0 auto 30px;
}
.page-mid .link.smaller {
	text-transform: unset;
	text-align: center;
	margin: 0 auto;
}
/*-e-page-parts-*/

.lcypv .page-top .icon-file:before {
	color: var(--primary-blue);
	font-size: 50px;
	margin: 0 auto;
	display: block;
}
.page-top .icon-file:before {
	/* position: relative;
	left: 50%;
	transform: translateX(-50%); */
}
/*-e-lcypv------------------------------------------*/











/*-b-osanc------------------------------------------*/
.osanc {
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	right: 0;
	visibility: hidden;
	background-color: var(--bg);
	z-index: 200;
}
.osanc.active {
	visibility: visible;
}
.osanc .page-top {
	padding: 0;
}
.osanc .page-top .h1 {
	margin: 40px 0;
}

.block {
	/* display: flex;
	flex-direction: column; */
	display: block;
	border-radius: 10px;
	padding: 40px 62px 40px;
}
.block.white {
	background-color: #fff;
	box-shadow: 0px 0px 12px var(--main-dark-008);
}
.block-title {
	margin: 0 0 10px;
}
.h2-group {
	margin: 30px 0 0;
	/* display: flex;
	flex-direction: column; */
	display: block;
}
.h2g-title {
	color: var(--medium-gray);
	margin: 0 0 10px;
}
/*-e-osanc------------------------------------------*/











/*-b-quorum-----------------------------------------*/
.radio-container {
	position: relative;
	/* display: flex;
	flex-direction: column; */
	display: block;
	margin: 0 0 22px;
}
.radio-container .radio {
	padding: 13px 20px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0px 4px 8px var(--main-dark-008);
	/* display: flex;
	align-items: center; */
	display: block;
	margin: 0 0 4px;
	width: 100%;
	height: 54px;
	box-sizing: border-box;
}
.radio-container .radio:last-child {
	margin: 0;
}

.radio-attention {
	position: absolute;
	bottom: -24px;
	left: 50%;
	width: 492px;
	box-sizing: border-box;
	padding: 0 0 0 30px;
	transform: translate(-50%, 100%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}
.radio-attention.active {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease, visibility 0s linear 0s;
}
.radio-attention i {
	position: absolute;
	top: 4px;
	left: 0;
	/* display: flex; */
	display: block;
}
.radio-attention i:before {
	font-size: 20px;
}
.radio-attention .h3 {
	color: var(--medium-gray);
}
/*-e-quorum-----------------------------------------*/










/*-b-XProxyForm-------------------------------------*/
.xproxyform {
	visibility: hidden;
}
.xproxyform.active {
	visibility: visible;
}
/*-b-left---*/
.left {
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0;
	width: 240px;
	/* display: flex;
	flex-direction: column; */
	display: block;
	background-color: #fff;
	box-shadow: 2px 0px 10px var(--main-dark-006);
	z-index: 10;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}
body.voting .left {
	transform: translateX(0);
}
.left-top {
	position: relative;
	padding: 29px 22px 30px 29px;
}
.left-top:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: var(--main-dark);
	opacity: 0.1;
}

/*-progress-*/
.left-pr-hider  {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc(100vh - 240px);
	box-sizing: border-box;
}
.left-pr {
	position: absolute;
	top: 62px;
	left: 29px;
	right: -17px;
	bottom: 0;
	box-sizing: border-box;
	/* display: flex;
	flex-direction: column; */
	display: block;
	overflow-y: scroll;
	overflow-x: hidden;
}
.left-pr-elem {
	margin: 0 0 40px;
	padding: 0 0 0 40px;
	position: relative;
	/* display: flex;
	flex-direction: column; */
	display: block;
	box-sizing: border-box;
}
.left-pr-elem:last-child {
	margin-bottom: 0;
}

.left-pr-elem-icon {
	position: absolute;
	top: 4px;
	left: 0;
	background-color: var(--medium-gray-010);
	border-radius: 50%;
	width: 30px;
	height: 30px;
}
.left-pr-elem-icon:before {
	color: #fff;
	font-size: 11px;
	position: absolute;
	top: 9.6px;
	left: 7.8px;
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 2;
}
.left-pr-elem-icon:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-dark);
	border-radius: 50%;
	transform: scale(0);
	transition: transform 0.3s ease;
	z-index: 1;
}
.left-pr-elem:first-child:not(.checked) .left-pr-elem-icon:after,
.left-pr-elem.checked + .left-pr-elem:not(.checked) .left-pr-elem-icon:after {
	transform: scale(0.467);
}
.left-pr-elem.checked .left-pr-elem-icon:before {
	opacity: 1;
}
.left-pr-elem.checked .left-pr-elem-icon:after {
	transform: scale(1);
}

.left-pr-elem h2 {
	margin: 0 0 2px;
}

#progress-status {
	position: absolute;
	bottom: 29px;
	left: 29px;
}
/*-e-left---*/

/*-b-right--*/
.right {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	width: 320px;
	/* display: flex;
	flex-direction: column; */
	display: block;
	background-color: #fff;
	box-shadow: -2px 0px 10px var(--main-dark-006);
	z-index: 10;
	transform: translateX(100%);
	transition: transform 0.3s ease;
}
body.voting .right {
	transform: translateX(0);
}
.right-top {
	position: relative;
	/* display: flex;
	align-items: center; */
	display: block;
}
/* .right-top-inner {} */
.right-top-inner-padding {
	padding: 32px 27px 30px 32px;
}
.right-top i {
	margin: 0 11px 0 0;
}
.right-top:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: var(--main-dark);
	opacity: 0.1;
}
.right-top .calc-h {
	/* display: flex;
	flex-direction: column; */
	display: block;
}
.right-top .row {
	margin: 0 0 40px;
}
.right-top .accordion-close {
	position: relative;
	margin: 0 0 0 auto;
	top: -2px;
}

.right-hq {
	/* display: flex;
	flex-direction: column; */
	display: block;
	padding: 60px 30px 30px;
}
.right-hq-title {
	margin: 0 0 40px;
	/* display: flex; */
	display: block;
}
.right-hq-title .h2 {
	color: var(--medium-gray);
}
.right-hq-row {
	position: relative;
	/* display: flex;
	flex-direction: column; */
	display: block;
	box-sizing: border-box;
	padding: 0 0 0 43px;
	margin: 0 0 30px;
}
.right-hq-row i {
	position: absolute;
	top: 12px;
	left: 1px;
}
.right-hq-row .h2 {
	margin: 0 0 4px;
}
/*-e-right--*/

/*-xproxyform-*/
.xproxyform {
	padding: 41px 0 0;
	/* display: flex;
	flex-direction: column; */
	display: block;
}
#pg-slider-hider {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#pg-slider {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* display: flex; */
	width: 100%;
	transition: transform 0.3s ease;
}
.pg-elem {
	float: left;
	width: 100vw;
	padding: 0 0 44px;
	box-sizing: border-box;
	/* flex-shrink: 0; */
}

.pg-elem .wrap .link.smaller {
	color: var(--main-dark);
	margin: 0 0 50px;
	font-weight: bold;
}
/* .xproxyform .icon-non-leased:before {
	margin: 1px 10px 0 2px;
} */
.wrap h1 {
	padding-left: 28px;
}
/* .xproxyform h1:before { */
.wrap h1:before {
	position: absolute;
	top: 12px;
	left: 0px;
	transform: translateY(-50%);
	/* margin: 1px 10px 0 2px; */
}
.xproxyform h1 + p,
.xproxyform .h1 + p,
.xproxyform .subh + p {
	margin: 0 0 30px;
}
.input-top {
	/* display: flex;
	justify-content: space-between; */
	display: block;
	margin: 0 0 10px;
}
.input-top p {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--medium-gray);
}
.input-top.two-elems {
	min-height: 14px;
}
.input-top.two-elems p:first-child {
	float: left;
}
.input-top.two-elems p:last-child {
	float: right;
}
#vote-limit:before { content: "/";}

.vote-variants {
	position: relative;
	/* display: flex;
	flex-direction: column; */
	display: block;
	margin: 0 0 40px;
}
.vote-cands {
	/* display: flex;
	flex-direction: column; */
	display: block;
	margin: 0 0 4px;
}
.vote-variant {
	position: relative;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 4px 8px var(--main-dark-008);
	margin: 0 0 4px;
	padding: 0 12px 0 24px;
	height: 44px;
	/* display: flex;
	align-items: center; */
	display: block;
	box-sizing: border-box;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.vote-variant .h2 {
	position: relative;
	top: 11px;
	text-transform: unset;
	overflow: hidden;
	margin: 0 1em 0 0;
	white-space: nowrap;
}
.vote-not-cand .h2 {
	font-weight: normal;
}
.vote-variant:last-child {
	margin: 0;
}
.vote-not-cand .icon-cross {
	margin: 0 0 0 auto;
}
.vote-variant.active {
	background-color: var(--main-dark);
	color: #fff;
}

.vote-num {	
	position: absolute;
	top: 8px;
	right: 12px;
	background-color: white;
	color: var(--main-dark);
	/* margin: 0 26px 0 auto; */
	margin: 0;
	padding: 7px 14px 5px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 16px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease 0s, visibility 0s linear 0.3s;
}
.vote-cand.active .vote-num {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease 0s, visibility 0s linear 0s;
}

/* .vote-variant .icon-cross {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 0s, visibility 0s linear 0.3s;
	cursor: pointer;
}
.vote-variant.active .icon-cross {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease 0s, visibility 0s linear 0s;
}
.vote-variant .icon-cross:before {
	font-size: 17.5px;
	color: white;
} */
.vote-variant .icon-cross {
	display: none;
}

.vote-optional {
	/* display: flex; */
	display: block;
}
.vote-optional input {
	margin: 0 13px 0 0;
	width: 254px;
	float: left;
}

.btns-back-next {
	position: relative;
	/* display: flex; */
	display: block;
	margin: 60px auto 0;
}
.btns-back-next .divcenter {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.btns-back-next .btn {
	margin: 0 4.5px;
	float: left;
}
.btns-back-next .icon-arr-l:before {
	position: absolute;
}
.votenav-limit:before {
	content: "/";
}

.pg-elem.next .pgnav-next {
	opacity: 1;
	pointer-events: auto;
}
.pg-elem.next .pgnav-next:hover {
	opacity: 0.9;
}
.pg-elem:first-child .pgnav-prev {
	display: none;
}
.pg-elem .pgnav-next {
	opacity: 0.4;
	pointer-events: none;
}

/*-b-nul-un---------------------*/
.subh {
	color: var(--primary-blue);
	margin: 20px 0 32px;
}
/*-e-nul-un---------------------*/

/*-b-p-holder-1-----------------*/
.radio-container.horizontal {
	position: relative;
}
.radio-container.horizontal .radio {
	width: 290px;
	height: 80px;
	padding-left: 70px;
}
.radio-container.horizontal .radio:last-child {
	position: absolute;
	top: 0;
	right: 0;
	width: 290px;
	height: 80px;
}
.radio-container.horizontal .radiomark {
	position: absolute;
	top: 26px;
	left: 20px;
}
.radio-container.horizontal .radiotext {
	margin: 0;
}


.h3-group {
	margin: 0 0 56px;
}
.h3-block-title {
	margin: 0 0 16px;
	color: var(--medium-gray);
	text-transform: uppercase;
}
/*-e-p-holder-1-----------------*/


/*-e-XProxyForm-------------------------------------*/











/*-b-mob-pgnav-progres------------------------------*/
.mob-pgnav-progres {
	display: none;
}
/*-e-mob-pgnav-progres------------------------------*/











/*-b-upblock----------------------------------------*/
.upblock {
	position: relative;
	width: 100%;
	height: 240px;
	border-radius: 4px;
	background-color: #fff;
	border: 2px dashed var(--main-dark);
	box-sizing: border-box;
}
.upblock input {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	height: 0;
	width: 0;
}
.upblock .btn {
	position: absolute;
	top: 77px;
	left: 50%;
	min-width: 156px;
	transform: translateX(-50%);
	padding-left: 65px;
}
.upblock .btn:before {
	position: absolute;
	top: 13px;
	left: 35px;
}
.upblock-text {
	position: absolute;
	top: 151px;
	left: 50%;
	transform: translateX(-50%);
}
.upblock + .input-top {
	margin: 16px 0 0;
}
p.icon-lock {
	position: relative;
	padding-right: 29px;
}
p.icon-lock:before {
	position: absolute;
	top: -7px;
	right: 4px;
}
/*-e-upblock----------------------------------------*/













/*-b-form-styles------------------------------------*/
.form {
	padding: 18px;
	background-color: #fff;
	box-shadow: 0px 0px 12px rgba(43, 66, 87, 0.08);
	border-radius: 10px;
	margin-top: 40px;
	margin-bottom: 50px;
}
.form p {
	font-size: 10px;
}
.form div {
	font-size: 10px;
}
.header-form {
	display: flex;
	justify-content: space-between;
}
.form .logo {
	display: flex;
	width: 50%;
	justify-content: space-between;
}
.form .descript {
	font-size: 9px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 5px;
}
.form .descript p {
	font-size: 9px;
	font-weight: bold;
}
.form .logo-img img {
	width: 110px;
}
.form .agree {
	width: 40%;
}
.form .agree h1 {
	font-size: 14px;
}
.form.agree p {
	font-size: 12px;
}
.form form {
	margin-top: 10px;
}
.form .placeholder {
	font-weight: bold;
	border-bottom: 1px solid #000;
}
.form .label-p {
	margin-bottom: 10px;
}
.form label {
	font-size: 10px;
}

.form .chek {
	padding-left: 20px;
	margin-top: 10px;
}


.form .container1 {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    background-color: #fff;
}
.form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 1px solid #000;
}
.form .container1 input:checked~.checkmark {
    background-color: #fff;
}
.form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.form .container1 input:checked~.checkmark:after {
    display: block;
}
.form .container1 .checkmark:after {
    left: 4px;
    top: 2px;
    width: 3px;
    height: 6px;
    border: solid black;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form .label {
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
}
.form .placeholder2 {
    width: 82%;
}
.form span.margin {
    margin-left: 5px;
}
.form .placeholder3 {
    width: 84%;
}
.form .placeholder4 {
    width: 91%;
}

.form .chek2 {
    padding-left: 0;
    margin-top: 10px;
}
.form .chek3 {
    margin-top: 15px;
}
.form .Iagree {
    margin-top: 15px;
}
.form .Iagree2 {
    margin-top: 15px;
}
.form .signatures {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.form .column1 {
    width: 60%;
}
.form .column2 {
    width: 30%;
}

.form .column-signature2,
.form .column-signature3 {
    margin-top: 30px;
}
.form .column-date2 {
    margin-top: 30px;
}
.form .column-date3 {
    margin-top: 40px;
}
.form .dated {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 6px;
    width: 100%;
    background-color: #fff;
}
.form .day {
    width: 100%;
    font-size: 10px;
}
.form .month {
    width: 100%;
    font-size: 10px;
}
.form .year {
    width: 100%;
    font-size: 10px;
}
.form .dated div {
    width: 100%;
}
.form .dated.placeholder {
    width: 100%;
}
/*-e-form-styles------------------------------------*/