/*----------------------------------------*/
/*------------------------------*/
/*--------------------*/
/*----------*/
:root {

}

body {
	margin: 0;
}

.invisible {
	display: none;
}

a {
	text-decoration: none;
}